* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-sans-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;
   
}

/* colores */
.primary-color{
    background: linear-gradient( rgba(247, 233, 63, 1),
rgba(251, 9, 180, 1),
rgba(145, 0, 248, 1));
}

 .background-1{
    background-color:rgba(26, 11, 46, 1);
}

.new{
    background-color: rgba(0, 255, 136, 1);
} 

/* nav related styles */
.navbar{
 max-width: 100%;
 justify-content: space-between;
 padding: 16px 200px;
 margin: 0 auto;
}

.list-container{
list-style: none;
justify-content: center;
align-items: center;

}
.nav-item a {
text-decoration: none;
color: white;
margin-right: 30px;
font-size: 1rem;
font-weight: 500;
}
.brand-logo img{
   width: 70%;
   margin-top: 10px;
}
.nav-btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    display: flex;
    gap: 6px;
}



.nav-btn{
    transition: transform 1s ease;
}
.nav-btn:hover{
    transform: scale(1.25);
}

/* hero section styles */


.bannar{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height:1200px;

}
.hero-container{
    display: block;
   justify-items: center;
   padding: 200px 600px 300px 600px;

}
.hero{
    position: relative;
    width: 600px;
}

.circle{
    width: 100%;
}
.microphone{
    position: absolute;
    top: 150px;
    left: 200px;
    width: 200px;
}

 .new{
    bottom: 240px;
    left: 200px;
    position: absolute;
    width: 75px;
    height: 38px;
    margin: 12px 23px 300px 252px;
    padding: 8px 16px;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(26, 11, 46, 1);
    border: none;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px;
    background: var(--#00FF88, rgba(0, 255, 136, 1));

} 
.hero-container h1{
    color: white;
    font-size: 3.80rem;
    font-weight: 800;
}
.hero-container p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
    padding-top: 40px;
    text-align: center;
}
.btn-container{
    padding-top: 40px;
    display: flex;
    gap: 8px;
}
.right-btn{
color: white;
  padding: 12px 16px ;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
}
.lift-btn{
    color: green;
  padding: 12px 16px ;
  font-size: 1rem;
  border: 2px solid green;
  border-radius: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
  background: transparent;
}


@media screen and (max-width:676px) {

    .navbar{
        justify-items: space-between;
        align-items: center;
    }
    .brand-logo img{
        
    }
    .list-container, .nav-btn{
        display: none;
    }  

    .ham{
        width: 24px;
        height: 24px;
        margin: 18px 20px 18px 56px;
        display: block;
    }
    
}

@media screen and (min-width:676px) {
  .ham{
    display: none;
  }
  
  }


  @media screen and (min-width:676px) and (max-width:992px) {
    .brand-logo img{
        width: 100%;
        margin-top: 24px;;
    }
  }