@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-sans-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;
   
}

/* colores */
.primary-color{
    background: linear-gradient( rgba(247, 233, 63, 1),
rgba(251, 9, 180, 1),
rgba(145, 0, 248, 1));
}

 .background-1{
    background-color:rgba(26, 11, 46, 1);
} 


.navbar{
 max-width: 1600px;
 justify-content: space-between;
 padding: 16px 200px;
 margin: 0 auto;
}

.list-container{
list-style: none;
gap: 32px;
justify-content: center;
align-items: center;

}
.nav-item a {
text-decoration: none;
color: white;
font-size: 1rem;
font-weight: 500;
}
.brand-logo img{
   max-width: 219px;
   max-height: 32px;
   margin-top: 8%;
}
.nav-btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
}

.nav-btn{
    transition: transform 1s ease;
}
.nav-btn:hover{
    transform: scale(1.5);
}




@media screen and (max-width:676px) {
    .list-container{
        display: none;
    }  

    
    
    
}

@media screen and (min-width:676) and (max-width: 992px) {
  .ham img {
    /* display: none; */
  }
  
  }