* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-sans-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;
   
}

/* colores */
.primary-color{
    background: linear-gradient( rgba(247, 233, 63, 1),
rgba(251, 9, 180, 1),
rgba(145, 0, 248, 1));
}

 .background-1{
    background-color:rgba(26, 11, 46, 1);
}

.background-2{
    background-color: rgba(35, 14, 61, 1);
}


.new{
    background-color: rgba(0, 255, 136, 1);
} 

/* nav related styles */
.navbar{
 max-width: 100%;
 justify-content: space-between;
 padding: 16px 200px;
 margin: 0 auto;
}

.list-container{
list-style: none;
justify-content: center;
align-items: center;

}
.nav-item a {
text-decoration: none;
color: white;
margin-right: 30px;
font-size: 1rem;
font-weight: 500;
}
.brand-logo img{
   width: 70%;
   margin-top: 10px;
}
.nav-btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    display: flex;
    gap: 6px;
}



.nav-btn{
    transition: transform 1s ease;
}
.nav-btn:hover{
    transform: scale(1.25);
}

/* hero section styles */


.bannar{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height:00px;

}
.hero-container{
    display: block;
   justify-items: center;
   padding: 200px 600px 300px 600px;

}
.hero{
    position: relative;
    width: 600px;
}

.circle{
    width: 100%;
}
.microphone{
    position: absolute;
    top: 150px;
    left: 200px;
    width: 200px;
}

 .new{
    bottom: 240px;
    left: 200px;
    position: absolute;
    width: 75px;
    height: 38px;
    margin: 12px 23px 300px 252px;
    padding: 8px 16px;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(26, 11, 46, 1);
    border: none;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px;
    background: var(--#00FF88, rgba(0, 255, 136, 1));

} 
.hero-container h1{
    color: white;
    font-size: 3.80rem;
    font-weight: 800;
}
.hero-container p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
    padding-top: 40px;
    text-align: center;
}
.btn-container{
    padding-top: 40px;
    display: flex;
    gap: 8px;
}
.right-btn{
color: white;
  padding: 12px 16px ;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
}
.lift-btn{
    color: green;
  padding: 12px 16px ;
  font-size: 1rem;
  border: 2px solid green;
  border-radius: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
  background: transparent;
}

/* About section related styles */

.about{
    width: 100%;
    height: 646px;
    padding: 50px 200px 120px 200px;
}

.headings{
    width: 1200px;
    height: 222px;
    gap: 16px;
    margin: 0 auto;
}

.headings h1{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.headings p{
    color: white;
    opacity: 0.8;
    text-align: center;
}

.line{
    border: 1px solid white;
    opacity: 0.1;
    width: 1200px;
    margin-bottom: 80px;
    margin: 0 auto;

}

.item-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin: 80px 200px 0px 200px;
}

.about-item{
    width: 240px;
    height: 94px;
    gap: 16px;
}

.about-item h1{
    font-size: 3rem;
    font-weight: 900;
    color: rgba(0, 255, 136, 1);
}

.about-item p{
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
}


.why{
    width: 100%;
    padding: 120px 200px;
}

.why h1{
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.layout-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.L1{
    grid-column: span 1;
    grid-row: span 2;
}

.L2{
    grid-column: span 2;
    grid-row: span 1;
}

.L3{
    grid-column: span 2;
    grid-row: span 1;
}

.L4{
    grid-column: span 2;
    grid-row: span 1;
}

.L5{
    grid-column: span 1;
    grid-row: span 1;
}

.layout h3{
    color: white;
    font-size: 1.5rem;
    font-weight:700;
    margin-top: 16px;
}

.layout p{
    color: white;
    opacity: 0.6;
}

.layout-container .layout{
    border: 40px;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    gap: 16;
}

/* Featured section styles */

.featured-host{
    padding: 200px 120px 200px 120px;
}

.featured-host h1{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.featured-container{
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.content iframe{
    border-radius: 24px 24px 0px 0px;
}

.box-shadow{
    border: 2px solid rgba(37, 13, 68, 1);;
    border-radius: 50px;
    box-shadow: 0 6px 50px 0 #000000e2;
    justify-items: flex-start;
}

.content img {
    margin-left: 20px;
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

.content h5{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 24px 24px 12px 24px;
}

.content p{
    color: white;
    font-size: 1rem;
    margin: 0px 24px 12px 24px;
}

.content h1{
    color: rgba(0, 255, 136, 1);
}

.host{
    margin: 120px 200px 120px 200px;
}

.host h1{
    color: white;
    font-size: 3rem;
    font-weight: 700px;
    text-align: center;
}
.host-container .host-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
}


.host-container{
    display: flex;
    gap: 24px;
    padding: 30px;
    border: 2px solid rgba(37, 13, 68, 1);;
    border-radius: 50px;
    box-shadow: 0 6px 50px 0 #000000e2;
}

.host-items h5{
    color: white;
    font-size: 2rem;
    font-weight: 700px;
    text-align: left;
    margin-bottom: 16px;
}

.host-items p{
    color: white;
    opacity: 0.6;
    text-align: left;
    margin-bottom: 16px;
}

.host-items .icons img{
    margin-right: 8px;
}


.feet{
    width: 100%;
    min-height: 412px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.feet-container {
    color: white;
    align-items: center;
}

.logo2{
    max-width: 260px;
    margin-bottom: 32px;
}

.social-icons{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 32px;
}

.social-icons img{
  width: 24px;
  height: auto;
  cursor: pointer;
  opacity: 0.85;
  transition: 0.1s;
}

.social-icons img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.copy-right{
    opacity: 0.8;
}



/* responsive styles/media queary */

@media screen and (max-width:676px) {
    .about {
    width:100%;
    padding: none;
}

}
